<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Workin it...can't you see I'm building here?</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>
      And that's hoooow we do it
    </p>
    <p>Some text here</p>

    {{> footer}}
  </body>
</html>
